body {
      display: flex;
      font-family: sans-serif;
      font-size: 35px;
      background-color: black;
      color: grey;
      height: 100vh;
      margin: 0;
     justify-content: center; /* Center horizontally */
     align-items: center;     /* Center vertically */
     cursor: pointer;
     transition: background-color 0.5s ease;
}

 #buttons {
      display: ; /* Initially hide the buttons */
    }