body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
  font-size: 32px;
  background-color: black;
  color: grey;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

body.light-mode {
  background-color: white;
  color: black;
}

body.dark-mode {
  background-color: black;
  color: grey;
}



#button:hover {
  background-color: grey;
  color: black;
}

#buttons button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: white solid 1px;
  border-radius: 5px;
  background-color: black;
  color: white;
  transition: background-color 0.3s;
}

#buttons {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  gap: 10px; /* spacing between buttons */
  z-index: 1000;
}

