body {
      display: flex;
      font-family: sans-serif;
      font-size: 35px;
      background-color: black;
      color: grey;
      height: 100vh;
      margin: 0;
     justify-content: center; /* Center horizontally */
     align-items: center;     /* Center vertically */
     cursor: none;
